.footer{
    height: 150px;
    margin-top: 2rem;
    grid-area: footer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #1f1f1f;
    color: #fff;
    .copyright{
        font-size: 1.2rem;
        margin-bottom: 0.2rem;

    }
    .domicilio{
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }
    .redes{
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
        a{
            color: #fff;
            text-decoration: none;
         &:hover{
            text-decoration: underline;
         }    
        }

    }
 }