/*** MEDIA QUERY ***/ 

/*media query index*/
@media screen and (max-width:576px){
    .contenedorGrilla {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "slide"
        "seccionQuienes"
        "seccionQue"
        "footer";
    }
  }
  
/*media query empresa*/
@media screen and (max-width:576px){
    .contenedorEmpresa {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "titulo"
        "subtitulo"
        "imagen"
        "texto"
        "footer";
      .subtitulo{
        grid-area: subtitulo;
        padding: 0;
        margin: 0 0 1rem 0 ;
        text-align: center;  
      }
     .imagen{
        grid-area: imagen;
        text-align: center;
        padding: 0;
        margin: 0 0 1rem 0;
      }
     .texto{
        grid-area: texto;
        text-align: justify;
        padding: 0.8rem;
      }
    }
}

/*media query servicios*/
@media screen and (max-width:576px){
  .contenedorServicios {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "titulo"
      "subtitulo"
      "imagen"
      "lista"
      "footer";
    .subtitulo{
      grid-area: subtitulo;
      padding: 0;
      margin: 0 0 1rem 0 ;
      text-align: center;  
    }
   .imagen{
      grid-area: imagen;
      text-align: center;
      padding: 0.5rem;
      margin: 0 0 1rem 0;
      img{
        width: 400px;
      }
    }
   .lista{
      grid-area: lista;
      list-style: circle;
    }
  }
}

/*media query certificados*/
@media screen and (max-width:576px){
  .contenedorCertificados {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "titulo"
      "subtitulo"
      "imagen"
      "texto"
      "boton"
      "footer";
    .subtitulo{
      grid-area: subtitulo;
      padding: 0;
      margin: 0 0 1rem 0 ;
      text-align: center;  
    }
   .imagen{
      grid-area: imagen;
      text-align: center;
      padding: 0;
      margin: 0 0 1rem 0;
    }
   .texto{
      grid-area: texto;
      text-align: center;
      padding: 1rem;
    }
    .boton{
      margin-top: 1rem;
      text-align: center;
    }
  }
}

/*media query contacto*/
@media screen and (max-width:576px){
  .contenedorContacto {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "titulo"
      "texto"
      "formulario"
      "mapa"
      "footer";
   .texto{
      grid-area: texto;
      text-align: center;
    }

  }
}