/*Estilos generales*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.header {
  grid-area: header; }
  .header nav ul li {
    font-size: 1.1rem;
    font-weight: bold;
    color: #021b49; }
    .header nav ul li:hover {
      text-decoration: underline; }

.footer {
  height: 150px;
  margin-top: 2rem;
  grid-area: footer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1f1f1f;
  color: #fff; }
  .footer .copyright {
    font-size: 1.2rem;
    margin-bottom: 0.2rem; }
  .footer .domicilio {
    font-size: 1rem;
    margin-bottom: 0.2rem; }
  .footer .redes {
    font-size: 0.8rem;
    margin-bottom: 0.2rem; }
    .footer .redes a {
      color: #fff;
      text-decoration: none; }
      .footer .redes a:hover {
        text-decoration: underline; }

/*mixin secciones del index*/
/* Estilos Index */
.contenedorGrilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
  grid-template-areas: "header header header header" "slide slide slide slide" "seccionQuienes seccionQuienes seccionQue seccionQue" "footer footer footer footer"; }
  .contenedorGrilla .slide {
    grid-area: slide; }
  .contenedorGrilla .seccionQuienes {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: seccionQuienes; }
    .contenedorGrilla .seccionQuienes h3 {
      padding: 0.5rem;
      width: 85%;
      color: #fff;
      text-align: center;
      background-color: #021b49; }
    .contenedorGrilla .seccionQuienes img {
      width: 100%; }
    .contenedorGrilla .seccionQuienes p {
      margin-top: 1rem;
      width: 85%;
      color: #021b49;
      font-size: 0.8rem; }
    .contenedorGrilla .seccionQuienes button {
      background-color: #021b49; }
      .contenedorGrilla .seccionQuienes button a {
        text-decoration: none;
        color: #fff; }
      .contenedorGrilla .seccionQuienes button:hover {
        background-color: #144aad; }
  .contenedorGrilla .seccionQue {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: seccionQue; }
    .contenedorGrilla .seccionQue h3 {
      padding: 0.5rem;
      width: 85%;
      color: #fff;
      text-align: center;
      background-color: #021b49; }
    .contenedorGrilla .seccionQue img {
      width: 100%; }
    .contenedorGrilla .seccionQue p {
      margin-top: 1rem;
      width: 85%;
      color: #021b49;
      font-size: 0.8rem; }
    .contenedorGrilla .seccionQue button {
      background-color: #021b49; }
      .contenedorGrilla .seccionQue button a {
        text-decoration: none;
        color: #fff; }
      .contenedorGrilla .seccionQue button:hover {
        background-color: #144aad; }

/* Estilos Empresa */
.contenedorEmpresa {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.3fr 0.3fr 0.3 1fr 0.3fr;
  grid-template-areas: "header header header header" "titulo titulo titulo titulo" "subtitulo subtitulo subtitulo subtitulo" "imagen texto texto texto" "footer footer footer footer"; }
  .contenedorEmpresa .titulo {
    grid-area: titulo;
    margin: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #021b49; }
  .contenedorEmpresa .subtitulo {
    grid-area: subtitulo;
    margin: 1rem 2rem;
    padding-bottom: 1rem;
    font-style: italic; }
  .contenedorEmpresa .imagen {
    grid-area: imagen;
    margin: 0 1rem 0 1rem; }
  .contenedorEmpresa .texto {
    grid-area: texto;
    margin-right: 1rem;
    font-size: 0.9rem; }

/* Estilos Servicios */
.contenedorServicios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.3fr 0.3fr 0.3 1fr 0.3fr;
  grid-template-areas: "header header header header" "titulo titulo titulo titulo" "subtitulo subtitulo subtitulo subtitulo" "imagen lista lista lista" "footer footer footer footer"; }
  .contenedorServicios .titulo {
    grid-area: titulo;
    margin: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #021b49; }
  .contenedorServicios .subtitulo {
    grid-area: subtitulo;
    margin: 1rem 2rem;
    padding-bottom: 1rem;
    font-style: italic; }
  .contenedorServicios .imagen {
    grid-area: imagen;
    margin: 0 0 0 2rem;
    width: 100%; }
  .contenedorServicios .lista {
    grid-area: lista;
    margin-right: 1rem; }
    .contenedorServicios .lista ul li {
      list-style: square; }

/* Estilos Certificaciones */
.contenedorCertificados {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.3fr 0.3fr 0.3 1fr 0.3fr;
  grid-template-areas: "header header header header" "titulo titulo titulo titulo" "subtitulo subtitulo subtitulo subtitulo" "imagen texto texto texto" "boton boton boton boton" "footer footer footer footer"; }
  .contenedorCertificados .titulo {
    grid-area: titulo;
    margin: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #021b49; }
  .contenedorCertificados .subtitulo {
    grid-area: subtitulo;
    margin: 1rem 2rem;
    padding-bottom: 1rem;
    font-style: italic;
    font-size: 0.8rem; }
  .contenedorCertificados .imagen {
    grid-area: imagen;
    margin: 0 1rem 0 2rem; }
  .contenedorCertificados .texto {
    grid-area: texto;
    margin-right: 2rem;
    padding-top: 0.2rem;
    font-size: 0.8rem; }
  .contenedorCertificados .boton {
    grid-area: boton;
    text-align: right;
    margin-right: 2rem; }
    .contenedorCertificados .boton .btn {
      background-color: #021b49; }
      .contenedorCertificados .boton .btn a {
        text-decoration: none;
        color: #fff; }
      .contenedorCertificados .boton .btn:hover {
        background-color: #144aad; }

/*estilos contacto*/
.contenedorContacto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.3fr 0.3fr 0.3 1fr 0.3fr;
  grid-template-areas: "header header header header" "titulo titulo titulo titulo" "texto texto texto texto" "formulario formulario mapa mapa" "footer footer footer footer"; }
  .contenedorContacto .titulo {
    grid-area: titulo;
    margin: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #021b49; }
  .contenedorContacto .texto {
    grid-area: texto;
    margin: 1rem 2rem;
    padding-bottom: 1rem;
    font-style: italic; }
  .contenedorContacto .formulario {
    grid-area: formulario;
    margin: 1rem 2rem;
    padding-bottom: 1rem; }
    .contenedorContacto .formulario .btn {
      background-color: #021b49; }
      .contenedorContacto .formulario .btn a {
        text-decoration: none;
        color: #fff; }
      .contenedorContacto .formulario .btn:hover {
        background-color: #144aad; }
  .contenedorContacto .mapa {
    grid-area: mapa;
    margin: 0 2rem 1rem 1rem; }

/*** MEDIA QUERY ***/
/*media query index*/
@media screen and (max-width: 576px) {
  .contenedorGrilla {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "slide" "seccionQuienes" "seccionQue" "footer"; } }

/*media query empresa*/
@media screen and (max-width: 576px) {
  .contenedorEmpresa {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "titulo" "subtitulo" "imagen" "texto" "footer"; }
    .contenedorEmpresa .subtitulo {
      grid-area: subtitulo;
      padding: 0;
      margin: 0 0 1rem 0;
      text-align: center; }
    .contenedorEmpresa .imagen {
      grid-area: imagen;
      text-align: center;
      padding: 0;
      margin: 0 0 1rem 0; }
    .contenedorEmpresa .texto {
      grid-area: texto;
      text-align: justify;
      padding: 0.8rem; } }

/*media query servicios*/
@media screen and (max-width: 576px) {
  .contenedorServicios {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "titulo" "subtitulo" "imagen" "lista" "footer"; }
    .contenedorServicios .subtitulo {
      grid-area: subtitulo;
      padding: 0;
      margin: 0 0 1rem 0;
      text-align: center; }
    .contenedorServicios .imagen {
      grid-area: imagen;
      text-align: center;
      padding: 0.5rem;
      margin: 0 0 1rem 0; }
      .contenedorServicios .imagen img {
        width: 400px; }
    .contenedorServicios .lista {
      grid-area: lista;
      list-style: circle; } }

/*media query certificados*/
@media screen and (max-width: 576px) {
  .contenedorCertificados {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "titulo" "subtitulo" "imagen" "texto" "boton" "footer"; }
    .contenedorCertificados .subtitulo {
      grid-area: subtitulo;
      padding: 0;
      margin: 0 0 1rem 0;
      text-align: center; }
    .contenedorCertificados .imagen {
      grid-area: imagen;
      text-align: center;
      padding: 0;
      margin: 0 0 1rem 0; }
    .contenedorCertificados .texto {
      grid-area: texto;
      text-align: center;
      padding: 1rem; }
    .contenedorCertificados .boton {
      margin-top: 1rem;
      text-align: center; } }

/*media query contacto*/
@media screen and (max-width: 576px) {
  .contenedorContacto {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "titulo" "texto" "formulario" "mapa" "footer"; }
    .contenedorContacto .texto {
      grid-area: texto;
      text-align: center; } }
